<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urjalusa.presec">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PreSec">
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorPatientHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorMyPrescriptionsActivity"
            android:exported="false" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartPageActivity" />
        <activity android:name=".PharmacyQRScanActivity" />
        <activity android:name=".PatientPrescriptionListActivity" />
        <activity android:name=".DoctorCreatePrescriptionActivity" />
        <activity
            android:name=".LoadPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>